

.chart div {
  font: 10px sans-serif;
  background-color: rgb(198, 217, 233);
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: rgb(56, 46, 99);
}
  

.chart2 div {
  font: 10px sans-serif;
  background-color: #fef;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: rgb(56, 46, 99);
}
  

.circles {
    border:1px solid gray;
}