

div.vis {
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
}

.chart div {
  font: 10px sans-serif;
  background-color: rgb(198, 217, 233);
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: rgb(56, 46, 99);
}
  

.chart2 .bar {
  font: 10px sans-serif;
  background-color: #fef;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: rgb(56, 46, 99);
  height: 10px;

  display: inline-block;
}
.chart2 span {
  font: 10px sans-serif;
  text-align: left;
  display: inline-block;
}
  

.circles {
    border:1px solid gray;
}